.backward{
    color:yellow;
    margin-left:20px;
    font-size:25px
}
.backwardText{
    color:black;
    margin-left:10px;
    font-weight:"bolder";
    font-size:"25px"
}
.forgotPasswordBG{
    background-image: linear-gradient(to right, blue , green);
    padding:40px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.forgotPasswordSubmit{
    font-size:20px;
    font-weight:bolder
}