.memories{
    font-size: 2rem;
}
.container{
    margin-top: 1rem;
}
.Signin{
    color:red;
    font-size: 1rem;    
    margin-right: 10%;
    margin-top: 24px;
    font-weight: 800;
}
a{
    text-decoration: none;
    color: blue;
}
a:hover{
    color: red;
}